#headerid{
	height:95px; 
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	border-radius: 3px;
	-khtml-border-radius: 10px;
	text-align: center;
	font-size:50px;
	padding: 10px 0px 0px 0px;
	box-sizing: border-box;
	font-family: 'Noto Serif', serif;
	letter-spacing: 3px;
	background: rgba(2, 0, 11, 0.9);
	color: white;
	margin-top: 50px;
}
#body1{
	perspective: 1px;
	transform-style: preserve-3d;
	overflow-y: scroll;
    overflow-x: hidden;
}
.circular {
	width: 190px;
	height: 190px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;	
}
#cf {
  	position:relative;
  	margin:0 auto;
  	height:190px;
}

#cf img {
  	position:absolute;
  	left:0;
  	-webkit-transition: opacity 1s ease-in-out;
  	-moz-transition: opacity 1s ease-in-out;
  	-o-transition: opacity 1s ease-in-out;
  	transition: opacity 1s ease-in-out;
	width: 180px;
	height: 180px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	margin: 0px;
}
.center{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

#cf img.top:hover {
  	opacity:0;
}
#please{
	display: block;
	margin-left: 40%;
}
#linkbox{
	margin: 20px 0px 0px 20px;
}
#aboutme{
	background: rgba(2, 0, 11, 0.9);
	margin:0px 0px 0px 0px; 
	text-align: center;
	height: 700px;
	padding:20px 0px 0px 0px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	border-radius: 2px;
	-khtml-border-radius: 10px;
	margin-top:50px;
}
#meheader{
	font-size:35px;
	color: white;
	font-family: 'Laila', serif;
	border-bottom: 1px solid gray; 
}
#stuff{
	font-size:29px;
	color: white;
	font-family: 'Source Serif Pro', serif;
	padding: 15px 0px 0px 0px;
}
#mestuff{
	font-size:21px;
	color: white;
	font-family: 'Source Serif Pro', serif;
	padding: 30px 20px 0px 20px;
	text-align: left;
}

/*Yes Dan, i know how the stuff below this comment works*/
#nav-toggle { position: absolute; left: 3%; top: 2%; }


#nav-toggle { cursor: pointer; padding: 10px 35px 16px 0px; }
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 5px;
  height: 5px;
  width: 37px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -10px; 
}
#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 300ms ease-in-out;
}
#nav-toggle:hover span:before, #nav-toggle:hover span:after {
  top: 0;
}
#nav-toggle:hover span:before {
  transform: rotate(270deg);
}
#nav-toggle:hover span:after {
  transform: rotate(-270deg);
}

#body2{
	background-image: url('http://img1.wikia.nocookie.net/__cb20130730212209/bindingofisaac/images/5/50/Wiki-background');
	background-size: 100%;
}
#header2{
	height:90px; 
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	border-radius: 5px;
	-khtml-border-radius: 10px;
	text-align: center;
	font-size:52px;
	padding: 11px 0px 0px 0px;
	box-sizing: border-box;
	letter-spacing: 3px;
	background: rgba(255,255,255, 0.8);
	margin-top: 50px;
	font-family: 'Source Serif Pro', serif;
}
#containtest{
	height:500px;
}
#test1{
	margin-top: 50px;
	background: rgba(2, 0, 11, 0.7);
	height: 700px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	border-radius: 6px;
	-khtml-border-radius: 10px;
}
#cookieimg{
	opacity: 0.7;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	border-radius: 4px;
	-khtml-border-radius: 10px;
	margin-top: 30px;
	height: 260px;
}
#cookietext{
	font-size:23px;
	font-family: 'Source Serif Pro', serif;
	color:white;
	letter-spacing: 1px;
	padding:300px 10px 0px 20px;
	margin-top: 20px;
} 
.slide {
    position: relative;
    padding: 25vh 10%;
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
    transform-style: inherit;
}
.title {
  width: 50%;
  padding: 5%;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}
.slide:nth-child(2n) .title {
  margin-left: 0;
  margin-right: auto;
}

.slide:nth-child(2n+1) .title {
  margin-left: auto;
  margin-right: 0;
}
.slide, .slide:before {
  background: 50% 50% / cover;  
}
#title {
  background-image: url('http://www.urbansurf.net/wp-content/uploads/2013/12/beautiful-purple-sunset.jpg');
  background-attachment: fixed; 
}

#slide1:before {
  background-image: url('http://img1.wikia.nocookie.net/__cb20130730212209/bindingofisaac/images/5/50/Wiki-background');
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}
#slide2 {
  background-image: url('http://img1.wikia.nocookie.net/__cb20130730212209/bindingofisaac/images/5/50/Wiki-background');
  background-attachment: fixed;
  height: 1200px;
}

#slide3:before {
  background-image: url("http://lorempixel.com/output/abstract-q-c-640-480-5.jpg");
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}

#slide4 {
  background: #222;
}
@media screen and (max-width:320px) {
#headerid{
	height:105px; 
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	border-radius: 3px;
	-khtml-border-radius: 10px;
	text-align: center;
	font-size:35px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Noto Serif', serif;
	letter-spacing: 3px;
	background: rgba(2, 0, 11, 0.9);
	color: white;
	width:100%;
}
#please{
	display: block;
	margin-left: 10%;
}
#cf img {
  	position:absolute;
  	left:0;
  	-webkit-transition: opacity 1s ease-in-out;
  	-moz-transition: opacity 1s ease-in-out;
  	-o-transition: opacity 1s ease-in-out;
  	transition: opacity 1s ease-in-out;
	width: 160px;
	height: 160px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	margin: 0px;
}
#meheader{
	font-size:30px;
	color: white;
	font-family: 'Laila', serif;
	border-bottom: 1px solid gray; 
}
#stuff{
	font-size:20px;
	color: white;
	font-family: 'Source Serif Pro', serif;
	padding: 15px 9px 0px 9px;
}
#mestuff{
	font-size:17px;
	color: white;
	font-family: 'Source Serif Pro', serif;
	padding: 20px 0px 0px 13px;
	text-align: center;
}
#aboutme{
	background: rgba(2, 0, 11, 0.9);
	margin-left:4%;
	text-align: center;
	height: 700px;
	padding:20px 0px 0px 0px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	border-radius: 2px;
	-khtml-border-radius: 10px;
	margin-top:50px;
	height: 1680px;
}
#title {
  background-image: url('http://www.urbansurf.net/wp-content/uploads/2013/12/beautiful-purple-sunset.jpg');
  background-attachment: fixed; 
  height:2300px;
}
}