#headerid{
	width:750px;
	height:95px; 
	margin:0px 0px 0px 190px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	border-radius: 3px;
	-khtml-border-radius: 10px;
	text-align: center;
	font-size:52px;
	padding: 10px 0px 0px 0px;
	box-sizing: border-box;
	font-family: 'Courgette', cursive;
	letter-spacing: 3px;
	background: rgba(253, 144, 253, 0.6);
	

}
#body1{
	background-image: url('http://www.urbansurf.net/wp-content/uploads/2013/12/beautiful-purple-sunset.jpg');
	background-size: 100%;
	background-size:cover;
}
.circular {
	width: 150px;
	height: 150px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;	
}
#cf {
  	position:relative;
  	margin:0 auto;
  	height:281px;
  	width:450px;
}

#cf img {
  	position:absolute;
  	left:0;
  	-webkit-transition: opacity 1s ease-in-out;
  	-moz-transition: opacity 1s ease-in-out;
  	-o-transition: opacity 1s ease-in-out;
  	transition: opacity 1s ease-in-out;
	width: 170px;
	height: 170px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	margin: 45px 0px 0px 100px;

}

#cf img.top:hover {
  	opacity:0;
}
#linkbox{
	margin: 20px 0px 0px 20px;
}
#aboutme{
	background: rgba(2, 0, 11, 0.9);
	width:1120px;
	margin:50px 0px 0px 0px; 
	text-align: center;
	height: 600px;
	padding:18px 0px 0px 0px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	border-radius: 2px;
	-khtml-border-radius: 10px
}
#meheader{
	font-size:35px;
	color: white;
	font-family: 'Laila', serif;
	border-bottom: 1px solid gray; 
}
#stuff{
	font-size:29px;
	color: white;
	font-family: 'Source Serif Pro', serif;
	padding: 15px 0px 0px 0px;
}
#mestuff{
	font-size:21px;
	color: white;
	font-family: 'Source Serif Pro', serif;
	padding: 20px 20px 0px 20px;
	text-align: left;
}

/*Yes Dan, i know how the stuff below this comment works*/
#nav-toggle { position: absolute; left: 2%; top: 3%; }


#nav-toggle { cursor: pointer; padding: 10px 35px 16px 0px; }
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 5px;
  height: 5px;
  width: 37px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -10px; 
}
#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 400ms ease-in-out;
}
#nav-toggle:hover span:before, #nav-toggle:hover span:after {
  top: 0;
}
#nav-toggle:hover span:before {
  transform: rotate(450deg);
}
#nav-toggle:hover span:after {
  transform: rotate(-450deg);
}
#findme{
	background: rgba(2, 0, 11, 0.9);
	width:1120px;
	margin:50px 0px 0px 0px; 
	text-align: center;
	height: 200px;
	padding:18px 0px 0px 0px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	border-radius: 2px;
	-khtml-border-radius: 10px;
	font-size:24px;
	color:white;
	font-family: 'Source Serif Pro';
}
}